<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--head部分-->
<head th:include="layout :: htmlhead" th:with="title='CausalTest Management'">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <!--头-->
    <div th:replace="fragments/head :: header"></div>

    <!--主体区域-->
    <div class="layui-body">
        <div class="layui-container">
            <div class="layui-row ">
                <div class="layui-col-xs9">
                    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                        <legend>Cassandra</legend>
                    </fieldset>
                    <form class="form-horizontal" role="form" action="/database/cassandra" method="get">
                        <div class="form-group" >
                            <label for="rcl" class="col-sm-2 control-label">RCL</label>
                            <div class="col-md-6">
                                <select class="form-control" name="rcl" id="rcl">
                                    <option value=""disabled selected hidden>Please Set Read Consistency Level</option>
                                    <option value="ONE"selected="">ONE</option>
                                    <option value="ALL" >ALL</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for="wcl" class="col-sm-2 control-label">WCL</label>
                            <div class="col-md-6">
                                <select class="form-control" name="wcl" id="wcl">
                                    <option value=""disabled selected hidden>Please Set Write Consistency Level</option>
                                    <option value="ONE"selected="">ONE</option>
                                    <option value="ALL" >ALL</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="keyspace" class="col-sm-2 control-label">Keyspace</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="keyspace"  name="keyspace"
                                       placeholder="Input keyspace name, default: k123">
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for="website" class="col-sm-2 control-label">Website</label>
                            <div class="col-md-6">
                                <select class="form-control" name="website" id="website">
                                    <option value="" disabled selected hidden>Please Select A Website</option>
                                    <option value="Twitter"selected="">Twitter</option>
                                    <option value="Amazon" >Amazon</option>
                                    <option value="Flickr" >Flickr</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="count" class="col-sm-2 control-label">TestTimes</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" id="count" required pattern="\d*" name="count"
                                       placeholder="Times to execute test, e.g. 100000">
                            </div>
                        </div>

                        <div class="form-group" >
                            <label for="consistency" class="col-sm-2 control-label">Consistency</label>
                            <div class="col-md-6">
                                <select class="form-control" name="consistency" id="consistency">
                                    <option value="" disabled selected hidden>Please Select A Consistency Semantic</option>
                                    <option value="RYW"selected="">Read Your Write</option>
                                    <option value="MR" >Monotonic Read</option>
                                    <option value="MW" >Monotonic Write</option>
                                    <option value="WFR" >Write Follow Read</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-6">
                                <button type="submit" class="btn  btn-danger" >Save</button>
                            </div>
                        </div>

                    </form>

                    <form class="form-horizontal" role="form" action="" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Current configuration

                            </div>
                            <div class="panel-body">
                                <span th:text="${result}"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                <!--button type="submit" class="btn btn-success btn-lg btn-block" >Run</button-->
                                <button  type="button" onclick="myRun()" class="btn  btn-success btn-lg btn-block">Run</button>
                            </div>
                        </div>

                        <div class="btn-group">
                            <button type="button" class="btn  btn-danger">Stop</button>
                            <button id="btn1" type="button" onclick="myfun1()" class="btn btn-default">Kill Coordinator</button>
                            <button id="btn2" type="button" onclick="myfun2()" class="btn btn-default">Kill Data</button>

                            <button id="btn3" type="button" onclick="myfun3()" class="btn btn-default">Kill Coordinator and Recover</button>
                            <button id="btn4" type="button" onclick="myfun4()" class="btn btn-default">Kill Data and Recover</button>

                            <button id="btn5" type="button" onclick="myfun5()" class="btn btn-default">echarts</button>

                        </div>
                    </form>
                </div>
            </div>


            <div class="layui-row>">
                <div class="layui-col-lg11" >

                    <div class="panel panel-default" style="margin-top: 5px;">
                        <div class="panel-heading">Log</div>
                            <div id="log-container" style="height:400px;overflow-y:scroll; position: relative;weight:1000px" data-offset="10">
                                <div>

                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-list"><li class="divider"></li></ul>
                        <div  id="echarts"  style="width: 900px;height:500px;"></div>
                    </div>
                </div>

            </div>



        </div>
    </div>
    <!--底部-->
    <div th:replace="fragments/footer :: footer"></div>
</div>



<script type="text/javascript" th:inline="none">

  /*  $(document).ready(function() {
        // 指定websocket路径

    });*/


    function myfun4() {
        $.ajax({
            type:"get",
            url:"/database/cassandra/crash?id=4",
            success:function (data) {
                alert("success");
            },
            error:function () {
                alert("error");
            }
        });
    }
    function myfun3() {
        $.ajax({
            type:"get",
            url:"/database/cassandra/crash?id=3",
            success:function (data) {
                alert("success");
            },
            error:function () {
                alert("error");
            }
        });
    }
    function myfun2() {
        $.ajax({
            type:"get",
            url:"/database/cassandra/crash?id=2",
            success:function (data) {
                alert("success");
            },
            error:function () {
                alert("error");
            }
        });
    }
    function myfun1() {
        $.ajax({
            type:"get",
            url:"/database/cassandra/crash?id=1",
            success:function (data) {
                alert("success");
            },
            error:function () {
                alert("error");
            }
        });
    }
    function myRun() {

        $.ajax({
            type:"get",
            url:"/database/cassandra/run",
            success:function(data){
                console.log("cassandra run script success")
            },error:function(e){
                console.log(e+",,cassandra run script error")
            }
        })
        var websocket = new WebSocket('ws://39.104.154.79:8082/log');
                websocket.onmessage = function(event) {
                    // 接收服务端的实时日志并添加到HTML页面中
                    $("#log-container div").append(event.data);
                    // 滚动条滚动到最低部
                    $("#log-container").scrollTop($("#log-container div").height() - $("#log-container").height());
                };
    }

    function myfun5() {

        $.ajax({
            type:"get",
            url:"/echarts",
            dataType:"json",
            success: function (data) {
                var echartsData =[['time'],['exception'],['violation']];

                for (var i = 0; i < data.length; i++) {
                    echartsData[0].push(data[i].tm);
                    echartsData[1].push(data[i].excp);
                    echartsData[2].push(data[i].vio);
                }

                var myChart = echarts.init(document.getElementById('echarts'));
                myChart.clear();
                var option = {

                    legend: {},
                    tooltip: {
                        trigger: 'axis',
                        showContent: false
                    },
                    dataset: {
                        source: echartsData
                    },
                    xAxis: {
                        type: 'category',
                        name: 'Time'
                    },
                    yAxis: {
                        gridIndex: 0,
                        name: 'Number',
                    },
                    grid: {top: '55%'},
                    series: [
                        {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                        {type: 'line', smooth: true, seriesLayoutBy: 'row'},
                        {
                            type: 'pie',
                            id: 'pie',
                            radius: '30%',
                            center: ['50%', '25%'],
                            label: {
                                formatter: '{b}: {@2012} ({d}%)'
                            },
                            encode: {
                                itemName: 'time',
                                value: '2012',
                                tooltip: '2012'
                            }
                        }
                    ]
                };

                myChart.on('updateAxisPointer', function (event) {
                    var xAxisInfo = event.axesInfo[0];
                    if (xAxisInfo) {
                        var dimension = xAxisInfo.value + 1;
                        myChart.setOption({
                            series: {
                                id: 'pie',
                                label: {
                                    formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                                },
                                encode: {
                                    value: dimension,
                                    tooltip: dimension
                                }
                            }
                        });
                    }
                });

                myChart.setOption(option);

            }
            ,
            error:function (XMLHttpRequest, textStatus, errorThrown) {
                console.log("错误");
                // 状态码
                console.log(XMLHttpRequest.status);
                // 状态
                console.log(XMLHttpRequest.readyState);
                // 错误信息
                console.log(textStatus);

            }
        });
    }









</script>
</body>
</html>